@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;600&display=swap');

* {
  font-family: 'Montserrat Alternates', sans-serif;
}

:root {
  --shadowDark: #D9DDE6;
  --background: #E4E9F2;
  --shadowLight: #EFF5FE;
}

body {
  background: var(--background);
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.hero-body {
  justify-content: center;
}

.login {
  border-radius: 25px;
  padding: 1.5rem;
  box-shadow: 8px 8px 15px var(--shadowDark), -8px -8px 15px var(--shadowLight);
}

input {
  background: var(--shadowDark) !important;
}

a {
  font-weight: 600;
}

a.is-text, a.is-text:hover, a.is-text:focus, a.is-text:active {
  text-decoration: none;
}

.table__delete-btn {
  display: inline-block;
}

.table__delete-btn button {
  background: transparent;
  border: none;
  padding: 0;
  color: #ff7675;
}

.table td a:first-child i {
  color: #74b9ff;
}

.table td a:nth-child(2) i {
  color: #fdcb6e;
}