@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;600&display=swap');

* {
  font-family: 'Montserrat Alternates', sans-serif;
}

:root {
  --shadowDark: #D9DDE6;
  --background: #E4E9F2;
  --shadowLight: #EFF5FE;
}

body {
  background: var(--background);
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

::selection {
  background: #81ecec;
}

.hero-body {
  justify-content: center;
}

.login {
  border-radius: 25px;
  padding: 1.5rem;
  box-shadow: 8px 8px 15px var(--shadowDark), -8px -8px 15px var(--shadowLight);
}

input {
  background: var(--shadowDark) !important;
}

button, button:focus, button:active {
  box-shadow: none;
  outline: none;
}

a {
  font-weight: 600;
}

a.is-text, a.is-text:hover, a.is-text:focus, a.is-text:active {
  text-decoration: none;
}

.table__delete-btn {
  display: inline-block;
}

.table__delete-btn button {
  background: transparent;
  border: none;
  padding: 0;
  color: #ff7675;
}

.card-footer-detail .table__delete-btn button {
  width: 100%;
}

.detail-card {
  min-width: 22em;
}

.table td a:first-child i {
  color: #74b9ff;
}

.table td a:nth-child(2) i,
.card-footer-detail a:nth-child(2) i,
.card-footer-detail a:nth-child(2) i:hover {
  color: #fdcb6e;
}

.h-tags .tag {
  cursor: pointer;
  transition: 0.2s;
  margin: 0.5em 0;
  display: inline-flex
}

.h-tags .tag:hover {
  background: #ffffffeb;
  box-shadow: 0px 0px 15px #0000001f;
  transition: 0.2s;
}

.button.button.is-block.is-fullwidth.is-medium.is-rounded {
  background: #00b894;
}

ul.content li {
  margin: 0.7em 0;
}

.field {
  margin: 0.7em 0 0;
}
